* {

  /*background-color: #FFE6BE;*/
  font-family: 'Ubuntu', sans-serif;
  font-color: #042F77;
  box-sizing: border-box;
  margin: 0;
}

body {
    width: 90%;
    align-self: center;
    text-align: center;
    margin: 20px auto;
}

.nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-btn {
  color: blue;
}

.current-nav-btn {
  color: red;
  font-weight: bold;
}

.welcome,
.current-weather,
.ten-day-forecast,
.seven-hour,
.twentyfour-hour {
  height: 100%;
  width: 60%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}

.ten-days,
.seven-hour {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
}


.twentyfour-hours {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.twentyfour-hour-header,
.ten-day-header {
  font-size: 1.3em;
  padding: 15px 0;
}

.hour-div {
  height: 100%;
  margin-bottom: 15px;
}

.welcome {
  background-color: rgba(0, 193, 189, .3);
}

.current-weather {
  background-color: rgba(198, 250, 230, .7);
  /*background-color: #c7fbe6;*/
}

.seven-hour {
  background-color: rgba(4, 47, 119, .3);
  /*background-color: #042F77;*/
}

.ten-day-forecast {
  background-color: rgba(180, 193, 214, .4);
  /*background-color: #f5eb71;*/
}

.twentyfour-hour {
  background-color: rgba(255, 229, 190, .7);
  /*background-color: #FFE6BE;*/
}

.twentyfour-hour img {
  width: 20px;
}

.twentyfour-hour p,
.ten-day-forecast p {
  font-size: .7em;
}

.App {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background: #e3e3e3;
  margin: 5px 0;
  border: 1px solid #D8D8D8;
  box-shadow: 1px 1px 10px #D8D8D8;
}

.card {
  float: left;
  float: none !important;
  /*background: #fff;*/
  height: 90vh;
  width: 100%;
  position: relative;
  display: inline-block;
  /*left: 0;*/
  transition: transform .4s;
  /*vertical-align: top;*/
  padding: 20px 0px;
}

.slider-btn {
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #b3b3b3;
  width: 45px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background: none;
  outline: none;
  position: absolute;
  z-index: 999;
  transition: all 0.6s ease 0s;
}

.slider-btn:hover {
  color: #5f5f5f;
  background: rgba(0,0,0,0.2);
}

.btn-r {
  right: 0;
}
.btn-l {
  left: 0px;
}

/*.hour, 
.current-temp, 
.condition, 
.humidity, 
.windchill, 
.feelslike {
  font-size: .8em;
}*/

/*Colors:

Teal: #00c1bd
Pale blue: #c7fbe6
Yellow: #f5eb71
Blue: #042F77;
Pale Yellow: #FFE6BE;

*/