* {

  background-color: #FFE6BE;
  font-family: 'Ubuntu', sans-serif;
  /*font-color: #042F77;*/
  /*box-sizing: border-box;*/
}

.App {
  text-align: center;
}

figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.card {
  height: 500px;
  width: 24%;
  float: left;
  border: solid .5px gray;
  overflow: scroll;
}

.welcome,
.current-weather,
.ten-day-forecast,
.seven-hour {
  width: 100%;
  float: left;
}

.welcome {
  background color: #00c1bd;
}

.current-weather {
  background color: #c7fbe6;
}

.ten-day-forecast {
  background color: #f5eb71;
}

.seven-hour {
  background color: #042F77;
}

p {
  font-size: .8em;
  z-index: 120;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  z-index: 120;
}

/*.hour, 
.current-temp, 
.condition, 
.humidity, 
.windchill, 
.feelslike {
  font-size: .8em;
}*/

/*Colors:

Teal: #00c1bd
Pale blue: #c7fbe6
Yellow: #f5eb71
Blue: #042F77;
Pale Yellow: #FFE6BE;

*/