* {

  /*background-color: #FFE6BE;*/
  font-family: 'Ubuntu', sans-serif;
  font-color: #042F77;
  box-sizing: border-box;
  margin: 0;
}

body {
    width: 90%;
    align-self: center;
    text-align: center;
    margin: 20px auto;
}

figure {

}

/*.App {
  text-align: center;
}*/

/*figure {
  position: relative;
  width: 500%;
  height: 100vh;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}*/

/*.card {
  width: 20%;
  height: 100%;
  float: left;
  border: solid .5px gray;
  overflow: hidden;
}*/

/*.welcome,
.current-weather,
.ten-day-forecast,
.seven-hour,
.ten-day-forecast {
  width: 100vw;
  height: 100vh;
  float: left;
}*/

.welcome {
  background-color: #00c1bd;
}

.current-weather {
  background-color: #c7fbe6;
}

.ten-day-forecast {
  background-color: #f5eb71;
}

.seven-hour {
  background-color: #042F77;
}

p {
  font-size: .8em;
  z-index: 120;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  z-index: 120;
}





.App {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background: #e3e3e3;
  margin: 5px 0;
  border: 1px solid #D8D8D8;
  box-shadow: 1px 1px 10px #D8D8D8;
}

.card {
  float: left !important;
  text-align: left;
  background: #fff;
  height: 100vh;
  width: 100%;
  /*max-width: 385px !important;*/
  position: relative;
  display: inline-block;
  left: 0;
  clear: both;
/*   margin-left: 10px; */
  margin-right: 55px;
  float: none !important;
  transition: transform .2s ease-in-out;
  vertical-align: top;
  padding: 20px 25px;
}

.card .title {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #D8D8D8;
}

.card .desc {
  font-size: 14px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.card img {
  display: block;
  position: relative;
  width: 100%;
}

.slider-btn {
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #b3b3b3;
  width: 45px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background: none;
  outline: none;
  position: absolute;
  z-index: 999;
  transition: all 0.6s ease 0s;
}

.slider-btn:hover {
  color: #5f5f5f;
  background: rgba(0,0,0,0.2);
}

.btn-r {
  right: 0;
}
.btn-l {
  left: 0px;
}

/*.hour, 
.current-temp, 
.condition, 
.humidity, 
.windchill, 
.feelslike {
  font-size: .8em;
}*/

/*Colors:

Teal: #00c1bd
Pale blue: #c7fbe6
Yellow: #f5eb71
Blue: #042F77;
Pale Yellow: #FFE6BE;

*/